p {
    font-family: Courier;
    font-size: 20px;
}

#content {
    margin-top: 15px;
    margin-left: 15px;
}

#writer-name {
    text-align: center;
    align: center;
}

form input {
    border-radius: 7px;    
}

#input-submit {
    background-color: Transparent;
    border:none;
    outline: none;
    font-family: Courier;
}

#input-submit:hover {
    background-color: #DCDCDC;
    border:none;
    cursor: pointer;
    height: 25px;
}

#input-text {
    font-family: Courier;
    width:200px;
    height: 25px;
    outline: none;
}
