p {
    font-family: Courier;
    font-size: 20px;
    text-align: 
}

#content {
    margin-top: 15px;
    margin-left: 15px;
}

#writer-name {
    text-align: center;
}

form input {
    border-radius: 7px;
    outline: none;
}

form input[type=submit] {
    background-color: Transparent;
}

form input[type=text] {
    font-family: Courier;
    width:200px;
    height:25px;
}
