p {
    font-family: Courier;
    font-size: 20px;
}

#content {
    margin-top: 15px;
    margin-left: 15px;
}

#writer-name {
    text-align: center;
    align: center;
}

form input {
    border-radius: 7px;    
}

input[type=submit] {
    background-color: Transparent;
    border:none;
}

input:hover[type=submit] {
    background-color: #DCDCDC;
    border:none;
    cursor: pointer;
}

input[type=text] {
    font-family: Courier;
    width:200px;
    height:25px;
    outline: none;
}
